
<h1><%=$cureent_event.e_name %>  Members</h1>
<%for om in @event_ms %>
  <%@mem << om.user_id %>
<%end %>
<table class=" table bg-light">
  <thead>
  <tr>
    <th> User </th>
    <th> Action </th>
  </tr>
  </thead>

<%for u in User.all%>
  <%if @mem.include? u.id %>
    <tbody>
    <tr>
      <td><%=button_to u.userName, user_path(u.id), method: :get, class: ["btn", "btn-light"]  %></td>
      <%if $cureent_event.user_id == current_user.id || current_user.admin==true  %>
        <%if $cureent_event.user_id == u.id %>
            <%if current_user.admin==true  %>
              <td>-->Event Host<--</td>
            <%else %>
              <td>-->You are the event Host<--</td>
            <%end %>
        <%else %>
          <td><%= button_to 'Kick form Event', @event_ms.find_by(user_id:u.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end %>
      <%end %>
    </tr>
    </tbody>
  <%end %>
<%end %>

</table>

<br>
<%= link_to "Back", :back, class:["btn","btn-light"] %>
