
<h1><%=$cureent_event.e_name %>  Members</h1>
<%for om in @event_ms %>
  <%@mem << om.user_id %>
<%end %>
<table>
  <thead>
  <tr>
    <th> User </th>
    <th> Action </th>
  </tr>
  </thead>

<%for u in User.all%>
  <%if @mem.include? u.id %>
    <tbody>
    <tr>
      <td><%=u.userName %></td>
      <%if $cureent_event.user_id == current_user.id %>
        <%if current_user.id == u.id%>
          <td>-->You are the event Host<--</td>
        <%else %>
          <td><%= button_to 'Kick form Event', @event_ms.find_by(user_id:u.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end %>
      <%end %>
    </tr>
    </tbody>
  <%end %>
<%end %>

</table>

<br>
<%= link_to "Back", :back, class:["btn","btn-light"] %>
