<p id="notice"><%= notice %></p>

<div class="row ml-0 mt-3">
  <h2>Inbox</h2>
</div>

<% for c in @inbox_msg%>
  <%for u in @inbox_u %>
    <%if c.user_id == u.id %>
      <%if u.id == $current_user[0].id %>
      <%else %>
        <%=link_to u.userName, chat_path(c.chat_id) %>
      <%end %>
    <%end %>
  <%end %>
<%end %>


<%= link_to 'Edit', edit_inbox_path(@inbox) %> |
<%= link_to 'Back', inbox_path %>