
<head>
  <title>Edit</title>
<h1>Editing Profile Page</h1>
</head>

<body>
<div class=>
  <p class="user_photo"><strong>Photo: </strong>  <%=@profile_page.picture %><br></p>
  </div>
  <%= render 'form' %>
  </div>
</body>

<footer>
</footer>