<h1>Are you sure?</h1>
<br>
<%= form_for @vote do |form| %>

  <span><%= form.submit :Yes, class: ["btn", "btn-primary"] %><br>
    <%= button_to "No", vote_path($cureent_event.id), method: :get %></span>

<% end %>
<br>