<p id="notice"><%= notice %></p>

<h1>Add new possible dates!</h1>

<%= render partial: "form",
           locals: {
               event: @event,
               submit_btn_text: "Create",
               date_section_title: "Add a new date",
               date_instruction_text: "Add possible dates for your guest to vote!"
           } %>