
<table><h2>Choose your available dates!:</h2>
  <%for vo in @votes %>
    <tr>
      <td>
        <%=vo.date%>
        (<%=vo.n_votes %>)
        <%= link_to 'Vote', edit_vote_path(vo.id) %> |
      </td>
    </tr>
  <%end %>
<br>
  </table>
  <%= link_to "Back", :back, class:["btn","btn-light"] %>
