
.navigation{
    display: flex;
    flex-flow: row ;
    justify-content: space-around;
    background-color: #2451cd;

}

p {
    color: black;
    text-align: center;
}

#head1{
    color: black;
    text-align: left;
}
footer{
    text-align: right;
}
.foto{
    text-align: left;
    justify-content: flex-start;
}
.comment{
    color:black;
    text-align: center;
}
.com_home{
    color:black;
    text-align: left;
}
.eventshome{
    color:black;
    text-align: left;
}
.wrapper{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: minmax(100px,auto);
}
.box{
    grid-column: 2;
    alignment: center;
    border: 3px solid black;
    height: 500px;
    width: 500px;
}
.ad_wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
}
.ad_box_1 {
    grid-column: 2;
    alignment: left;
    height: 400px;
    width: 600px;
}
.user_container{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: minmax(100px,auto);

}
.user_box{
    grid-column: 2;
    grid-row: 1;
    alignment: left;
    height: 400px;
    width: 400px;

}
.user_photo{
    grid-column: 1;
    grid-row: 1;
    border: 3px solid black;
    height: 400px;
    width: 400px;
}
.p_user{
    text-align: left;

}
.ad_wrapper_2 {
    grid-gap: 100px;
    allignment: right;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
}
.ad_box_2 {
    grid-column: 4;
    alignment: right;
    height: 400px;
    width: 600px;
}