<head>
<h1>Editing Org Homepage</h1>
</head>

<body>
  <%= render "form",
             locals: {
                 org_homepage: @org_homepage,
                 submit_btn_text: "Update",
             } %>
</body>
<%= link_to 'Back', org_homepage_path(params[:id]) %>
