<%= form_with(model: organization_m, local: true) do |form| %>
  <% if organization_m.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(organization_m.errors.count, "error") %> prohibited this organization_m from being saved:</h2>

      <ul>
        <% organization_m.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
