
<head>
  <title></title>
</head>
<body>
  <h1>Organization Members</h1>
  <%for om in @organization_ms %>
    <%@mem << om.user_id %>
  <%end %>
  <table class="table bg-light">
    <thead>
      <tr>
        <th> User </th>
        <th> Action </th>
      </tr>
    </thead>

  <%for u in User.all%>
    <%if @mem.include? u.id %>
      <tbody>
      <tr>
      <td><%=button_to u.userName, user_path(u.id), method: :get, class: ["btn", "btn-light"]  %></td>
      <%if $current_organization.user_id == current_user.id || current_user.admin==true %>
          <%if $current_organization.id == u.id%>
            <%if current_user.admin==true  %>
              <td>-->Organization Admin<--</td>
            <%else %>
              <td>-->You are the Organization Admin<--</td>
            <%end %>
          <%else %>
            <td><%= button_to 'Kick from Organization', @organization_ms.find_by(user_id:u.id), method: :delete%></td>
          <%end %>
        <%end %>
      </tr>
      </tbody>
    <%end %>
  <%end %>

  </table>

  <br>
</body>
<footer>
  <div align="right">
    <%= link_to "Back", :back, class:["btn","btn-light"] %>
  </div>
</footer>
