<p id="notice"><%= notice %></p>

<h1>Organization Members</h1>
<%for om in @organization_ms %>
  <%@mem << om.user_id %>
<%end %>
<table>
  <thead>
    <tr>
      <th> User </th>
      <th> Action </th>
    </tr>
  </thead>

<%for u in User.all%>
  <%if @mem.include? u.id %>
    <tbody>
    <tr>
    <td><%=u.userName %></td>
    <%if $current_organization.user_id == current_user.id %>
     <td><%= button_to 'Destroy', @organization_ms.find_by(user_id:u.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <%end %>
    </tr>
    </tbody>
  <%end %>
<%end %>

</table>

<br>
<%= link_to "Back", :back, class:["btn","btn-light"] %>

