<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Lab Assignment 6!</title>
</head>
<body>

<% @events.each do |v| %>
 <ul>
   <li><h5><%=link_to v.title, events_path(v.id)%></h5></li>
   <li><%=[v.venue] %></li>
   <li><%=[v.comments] %></li>
 </ul>
<% end %>

</body>
</html>rai