<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Lab Assignment 6!</title>
</head>
<body>
<h1><%= link_to "BACILE CON LOS K", root_path %></h1>
<ul>
  <li> <%=link_to("See events", :events) %></li>
</ul>
</body>
</html>