<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Lab Assignment 6!</title>
</head>
<body>

<% @p_events.each do|v| %>
  <li><h4><%=link_to v.title, event_path(v.id)%></h4></li>
  <li><p>Host : <%=[v.user.userName]%></p></li>
  <li><p>Description : <%=[v.description]%></p></li>
  <li><h5><%=link_to "Event Comments", comments_path %></h5></li>

<% end %>

</body>
</html>