<head>
  <title>Information</title>
</head>
<body>
  <div class="row">
    <div class="col-3">
      <h2>Information</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-3 bg-light">
      <div>
        <%if @user.last_sign_in_at.nil? %>
          <strong>Last time Signed-In: </strong> <%=@user.created_at%>
        <%else %>
          <strong>Last time Signed-In: </strong> <%=@user.last_sign_in_at%>
        <%end %>
      </div>
      <%if @user.admin == true %>
        <div>
          <strong>User Role:   </strong> <span>'Admin'</span>
        </div>
      <%else %>
        <div>
          <strong>User Role:   </strong> <span>'Social User'</span>
        </div>
      <%end %>
    </div>
  </div>
</body>

<footer>
  <div class="row">
    <div class="col-9"></div>
    <div class="col-3" >
      <div align="left" >
        <button class="btn"><%= link_to 'Back', users_path %></button>
      </div>
    </div>
  </div>
</footer>
