<head>
  <title>Information</title>
</head>
<body>
  <div class="row">
    <div class="col-3">
      <h2>Information</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <div>
        <strong>Last time Signed:  </strong> <%=@user.last_sign_in_at%>
      </div>
      <%if @user.admin == true %>
        <div>
          <strong>User Role:   </strong> <p>'Admin'</p>
        </div>
      <%else %>
        <div>
          <strong>User Role:   </strong> <p>'Social User'</p>
        </div>
      <%end %>
    </div>
  </div>
</body>

<footer>
  <div class="row">
    <div class="col-9"></div>
    <div class="col-3" >
      <div align="left" >
        <button class="btn"><%= link_to 'Back', users_path %></button>
      </div>
    </div>
  </div>
</footer>
